.dashboard{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-between;
}
.dashboard:first-child{
    font-size: 3rem;
}

.dashboard-btn{
    width: 50%;
}
.dashboard-btn .btn{
    cursor: pointer;
}
.dashboard-alert{
    display: flex;
    width: 50%;
    padding: 1rem;
    flex-direction: column;
    font-size: 23px;
    align-items: center;
    background-color: rgba(255, 163, 178, 0.316);
    backdrop-filter: blur(15px);
}
.dashboard-alert h3{
    font-size: 1rem;
}
.dashboard-alert p {
    font-size: 1.5rem;
}

@media screen and (max-width:768px){
    .dashboard:first-child{
        font-size: 1.5rem;
    }
    
    .dashboard-section  {
        height: auto;
    }

    .dashboard-btn{
        width: 90%;
    }
    .dashboard-alert{
        width: 80%;
    }
}