.register{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
}
.register-form, .register-form>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    
}
.register-form{
    width: 25%;
}
.register-form>div>label{
    font-size: 1.3rem;
}
.register-form>div>input{
    font-size: 1.1rem;
    padding: 0.5rem 0;
    color: whitesmoke;
    background-color: transparent;

}
.register-form>div>input::placeholder{
    color: rgb(234, 234, 234);
    padding:0 1.3rem;
    text-transform: capitalize;
}
.register-btn{
    font-size: 1.1rem;
    padding: 0.5rem 0;
    background-color: var(--btn-color);
    color: white;
}
.register-btn:active{
    box-shadow: inset 0px 0px 10px 0.5px black;
}
@media screen and (max-width:768px){
    .register-form{
        width: 90%;
    }
}